<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <section class="card">
        <h2 th:text="'Detalles del Contenido: ' + ${content.title}"></h2>

        <p><strong>ID:</strong> <span th:text="${content.id}"></span></p>
        <p><strong>Título:</strong> <span th:text="${content.title}"></span></p>
        <p><strong>Descripción:</strong> <span th:text="${content.text}"></span></p>
        <p><strong>Fecha de Creación:</strong>
            <span th:text="${#temporals.format(content.date, 'dd/MM/yyyy HH:mm')}"></span>
        </p>
        <p><strong>Video:</strong>
            <a th:href="${content.urlVideo}" target="_blank" class="btn btn-link">Ver explicación</a>
        </p>

        <a th:href="@{/contents}" class="btn">← Volver a contenidos</a>
    </section>
</div>
</html>
